body {font-family: 'Electrolize', sans-serif;}
a, a:visited {color:#000;text-decoration:none;font-weight:bold;}

.noSel {-webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;}

.title {font-size:35px;}
.subtitle {font-size:16px;}

.nervousLogo img {width:60px;margin:5px;}
.nervousLogo {position:absolute;right:10px;top:10px;width:110px;text-align:center;font-size:13px;}



.shelfDataTable {width:300px;float:left;}
.shelfData {width:100%;float:left;padding: 2px 0 2px 0;}
.shelfData .slider {float:left;}
.shelfData .dataTitle {text-transform:uppercase;float:left;font-size:.8em;width:50px;line-height:20px;}
.shelfData .dataValue {float:left;font-size:.8em;color: rgb(0,136,255);padding-left:10px;text-align:right;width:50px;margin-right:5px;}



input.editableVal {
color: #000;
background-color: #ddd;
box-shadow: 2px 2px 2px #666;
padding: 7px;
height: 20px;
border: none;
font-family: 'Electrolize',sans-serif;
margin: 0;
}



.purchase {width:300px;float:left;}
.purchase .heading {font-size:20px;text-align:center;width:100%;border-bottom:1px solid #ccc;text-transform:uppercase;}
.purchase .option {width:100px;float:left;}
.purchase .optionTxt {font-size:.8em;text-align:center;}
.purchase .optionTitle {text-align:center;}